

/* Logo Sidebar */
@keyframes rotate-90-cw {0% {-webkit-transform: rotate(0);transform: rotate(0);}
    40% {-webkit-transform: rotate(20deg);transform: rotate(20deg);}75% {-webkit-transform: rotate(-20deg);transform: rotate(-20deg);}100% {-webkit-transform: rotate(0);transform: rotate(0);}
}
@keyframes rotate-initial {0% {-webkit-transform: rotate(20deg);transform: rotate(20deg);}100% { -webkit-transform: rotate(0deg);transform: rotate(0deg);}}

@keyframes button-effect {0% {width: 0px;}20% {width: 0px;}100% {background-color:#f73859;}}

.heroAni-appear{left: 0;}
.heroAni-appear-done {left: 10px;}

.about .aboutHeader{position: relative;}
.aboutHeaderAni-appear{opacity: 0;top: 40px;}
.aboutHeaderAni-appear-done{opacity: 1;transition: 1s;top: 0;}

.about .aboutExtra{position: relative;}
.slideRight-appear{opacity: 0;left: -40px;}
.slideRight-appear-done{opacity: 1;transition: 1s;left: 0;}

.fade-appear{opacity: 0;}
.fade-appear-done{opacity: 1;transition: 1s;}

.aboutLatest{position: relative;}

.listWorks ul{position: relative;}

@media only screen and (min-width: 880px) {    
    .sideBarAni-appear{left: -200px;}
    .sideBarAni-appear-done{left: 0;transition: 1s;}
}


      