
.dark,.light{width:100%;}

body.dark{background-color: #303841;}

.dark .sidebar{background: #222831;}
.dark .sidebar button{color:#eee;}
.dark .sidebar h1 a{color:var(--green);background-color: #404b69;font-family: 'Poppins', sans-serif;}
.dark ul.menu li a{color:var(--whiteHover);}
.dark .hero{background-image: linear-gradient(120deg, #393e46 50%,#303841);}
.dark .listWorks li{background-image: linear-gradient(120deg, #393e46 20%,#303841);}

body.light{background: #bfe4f0;}

.light .sidebar{background: #dbedf3;box-shadow: none;}
.light .sidebar button{color:#303841;}
.light .sidebar h1 a{color:#00adb5;background-color: #404b69;}
.light .sidebar h1 a:hover{color:#00adb5;}
.light .sidebar cite{color:#303841;}
.light ul.menu li a{color:#404b69;}
.light .hero{background-image: linear-gradient(120deg, #404b69 50%,#303841);}
.light .listWorks h1{color:#404b69;}
.light .listWorks h2{color:#404b69}
.light .listWorks li{background-image: linear-gradient(120deg, #dbedf3 20%, #bfe4f0);}
.light .listWorks .filterListWorks button{color:#404b69;}
.light .listWorks .filterListWorks button:hover{background: #404b69;color:#fff;}
.light .listWorks .filterListWorks button.selected{background: #404b69;color:#fff;}
.light .listWorks .info h2 a, 
.light .listWorks .info p{color:#404b69;}
.light .listWorks button.btnOpenWorks{color:#404b69;}
.light .listWorks button.btnOpenWorks:hover{color:#eee;}
.light .listWorks button.btnCodeWorks{color:#404b69;}
.light .listWorks button.btnCodeWorks:hover{color:#eee;}
.light ul.menu li:hover button{color:#eee;}
.light ul.menu li:hover,.selected{background: #404b69;}
.light ul.menu li:hover a{color:#ddd;}

.light .about .aboutHeader{color:#404b69;}
.light .about .infoAbout{color:#404b69;}
.light .about .infoAbout .titleAbout{color:#404b69;}
.light .about .infoAbout .descAbout{color:#404b69;}
.light .about .infoAbout .updateAbout{color:#404b69;}
.light .about .infoAbout .updateAbout span{color:#00adb5;}
.light .about .aboutLatest{box-shadow:none!important;}
.light .about .aboutExtra{box-shadow:none!important;}
.light .about .aboutExtra p{color:#404b69;}
.light .about .aboutLatest p{color:#404b69;}
.light .about .list .item{color:#404b69;}
.light .about .list .item:hover{color:#00adb5;opacity: 1;transition:0.5s;}
.light .about .list .item:hover svg{opacity: 0;}
.light .about .list .item:hover svg{color:#00adb5;opacity: 1;transition:1s;}
.light .about .list .item:first-child{font-size: 18px;}

@media only screen and (min-width: 568px) {
    .light .about .aboutLatest{background: linear-gradient(120deg, #dbedf3 20%, #bfe4f0);box-shadow:none!important;}
    .light .about .aboutExtra{background: linear-gradient(120deg, #dbedf3 20%, #bfe4f0);box-shadow:none!important;}
}